@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #232427;
}


/* For profile card */

.heading-h{
    display: flex;
    flex-wrap: wrap;
}

.h-text{
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 2rem;

}

.h-text h1{
  color: #181414;
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.h-text p{
  font-weight: 400;
  margin-bottom: 1rem;
   color: #191414;
}

.h-welcome{
display: flex;
    align-items: center;
    padding: 0px 1rem;
}

.card-pw{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 350px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px -4px rgba(0,0,0,.35);
}

.card-pw h4{
  color: #191414;
}
.card-pw p{
  color: green;
  font-weight: bold  ;
  margin: 0.7rem 0;
}

.card-pw img{
  width: 40px;
}

.card-pw .icons-pw i{
  background-color: #191414;
  color: #cccccc;
  padding: 5px 10px;
  text-align: center;
  border-radius: 6px;
  margin-top: 0.5rem;
  
}
.card-pw .icons-pw i:hover{
  background-color: #cccccc ;
  color: #191414;
  padding: 5px 10px;
  margin-top: 0.5rem;
}

.icons-pw{
    display: flex;
    margin-top: 1rem;
  
}

.icons-pw .filter{
  margin: 0px 3rem;
}

.icons-pw img:hover, i:hover{
background-color: #cccccc;
border-radius: 6px;
}

.btn3 {
  background-color: #00966b;
  border-color: #ffffff;
  color: #ffffff;
  /* padding: 1rem 3.2rem; */
  font-weight: 500;
  padding: 0.5rem 0.563rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.btn3:hover {
  background-color: #04815e;
  border-color: #ffffff;
  color: #ffffff;
  font-weight: 500;
  padding: 0.5rem 0.563rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

/* end of profile card */

/* For trasnactions card */

.container-p  {
    height: 200px;
    width: 300px;
    background: #f2f2f2;
    /* overflow: hidden; */
    border-radius: 10px;
    box-shadow: 0 0 8px 8px #d0d0d0;
  }
  
  .container-p .content-p {
    color: black;
    padding: 40px;
  }

/* end of profile card */

body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;
}

body .container .card {
  position: relative;
  min-width: 360px;
  height: 300px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

body .container .card:nth-child(1) .box .content a {
  background: green;
}

body .container .card:nth-child(2) .box .content a {
  background: red;
}

body .container .card:nth-child(3) .box .content a {
  background: #2f80ec;
}

body .container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

body .container .card .box:hover {
  transform: translateY(-50px);
}

body .container .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

body .container .card .box .content {
  padding: 20px;
  text-align: center;
}

body .container .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

body .container .card .box .content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

body .container .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

body .container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
body .container .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}


/* Transaction */
body {
  min-height: 100vh;
font-family: "Poppins", sans-serif;
  }

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2 {
  color: #000000;
}

.add .btn{
    background-color: #ffffff ;
    color: #00966b;
    padding: 5px 10px;
    text-align: center;
    border: 2px solid #00966b;
}
.add .btn:hover{
    background-color: #00966b ;
    color: white;
    padding: 3px 8px;
    border: 2px solid #FFFFFF;
}

.side-menu {
  position: fixed;
  background-color: #191414;
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.side-menu .brand-name {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
}

.side-menu li {
  font-size: 14px;
  padding: 10px 40px;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.side-menu li:hover{
    background-color: #ffffff;
    color: #191414;
}

.brand-name a{
    font-size: 16px;
    color: white;

}

.brand-name a:hover{
    text-decoration: underline;
    color: white;
}

.container-m{
    position: absolute;
    right: 0;
    width: 80vw;
    min-height: 100vh;
    background-color: #ffffff;
}

.container-m .header{
    position: sticky;
    top: 0;
    right: 0;
    width: 80vw;
    height: 15vh;
    background-color: #FFFFFF;
    display: flex;
    align-items: center; 
    justify-content: center;
    z-index: 1;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */

}

.container-m .header .nav{
    width: 90%;
    display: flex;
    align-items: center;
    
}

.header .nav .add{

}
.header .nav .add h2{
  font-weight: 400;
  font-size: 1rem;
  color: #00966b;

}



.container-m .header .nav .search input[type=text]{
    border: none;
    background-color: #f1f1f1;
    padding: 10px;
    width: 50%;
}

.search input::placeholder{
  color: #00966b;
  font-size: 50rem;
}

.container-m .header .nav button{
    /* width: 40px;
    height: 40px;
    border: none; */
}

/* .container .header .nav button img{
    width: 30px;
    height: 30px;
} */

.container-m .header .nav .user{
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
}


.container-m .header .nav .img-case{

    position: relative;
    width: 50px;
    height: 50px;
}

.container-m .header .nav .img-case img{
    position: absolute;
    top: 7px;
    left: -4px; 
    width: 80%; 
    border: 2px solid #cccccc;
    border-radius: 100%;
    cursor: pointer;
}
.container-m .header .nav .img-case img:hover{
    border: 2px solid #00966b;
    border-radius: 100%;
}

.container-m .header .nav .notification i{
    color: #00966b;
    cursor: pointer;
    

}
.container-m .header .nav .notification i:hover{
    color: #191414;
    cursor: pointer;
}

.container-m .content-1 .row-heading{
    position: relative;
    margin-top: 22vh;
    margin-left: 4.3vw;
    min-height: 90vh;
    
}

.container-m .content-1 .row-heading h1{
    font-weight: 700;
    font-size: 1.5rem;
    margin-right: 6rem;
}

.container-m .content-1 .row-heading .filter{
    margin-top: 3px;
}


.container-m .content-1 .row-heading .filter .filter-b{
    padding: 5px 15px;
    color: #72747f;
    border: 0.0625rem solid #E1E4EB;
    margin-right: 1rem;
    background-color: white;
}
.container-m .content-1 .filter .filter-b:hover{
    background-color: #00966b;
    padding: 5px 15px;
    color: white;
    border: 0.0625rem solid #E1E4EB;
}

.container-m .content-1 .row-heading .filter .add{
    background-color: #00966b;
    border: 0 solid white;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 100%;
}

.container-m .content-1 .row-heading .filter .add i{
    color: white;
}

.container-m .content-1 .row-heading .filter .add:hover{
    background-color: #bcbfc5;
}

.row-1{
    display: flex;
    justify-content: left;
    margin-left: ;
}

.Tran {
    margin-right: 15rem;
}

.content-2 input{
    padding: 10px 400px 10px 20px;
    border-radius: 10px;
    background-color: #f1f1f1;
    outline: none;
    border: none;
}

.content-2{

    margin-top: 15px;
    
}

.Trans-1 {
    margin-top: 40px;
    margin-left: -1.2rem;
}

.Trans-1 table{
    width: 80%;
}

.Trans-1 .green-icon{
    width: 20px;
    padding-top: 6px;
    
}

.Trans-1 .red-icon{
    width: 20px;
    padding-top: 6px;
    
}

td{

  text-align: center;
}

.expense-row img{
    

}


 